/* all shared  styles start here */
*{
    margin: 0;
    padding: 0;
}
body{

}
.hide{
    display: none;
}

/* header styles start here */







/* nav styles start here */








/* main styles start here */








/* section styles start here */






/* footer styles start here */







