/* all shared  styles start here */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.display-on-small-display {
    display: none;
}

/* header er nav and banner styles start here */

header {
    /* background-color: red; */

}

/* nav styles start here */
.nav {
    width: 80vw;
    margin: 90px auto;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-name {
    font-size: 2rem;
}

.nav-menu {

    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-menu a {
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 6px;
}

.nav-menu a:hover {
    color: white;
    background-color: palevioletred;
}

/* banner styles start here  */
.banner {
    border: 2px solid;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner-left {
    border: 2px solid black;
    padding-right: 00px;
}

.banner-title {
    font-size: 4rem;
    color: #3A3A3A;
}

.banner-description {
    color: #3A3A3A;
}

.banner-btn {
    font-size: 1.005rem;
    font-weight: 600;
    background-color: #E02C6D;
    color: white;
    margin-top: 30px;
    padding: 10px 15px;
    border-radius: 18px;
}

.banner-right {
    height: 600px;
    border: 2px solid black;
    background-image: url(images/Circle\ design.svg);
    background-position: center center;

    background-repeat: no-repeat;
}

.banner-right img {
    width: 550px;
    box-sizing: border-box;
}



/* main styles start here */








/* section styles start here */






/* footer styles start here */